# ========================
# Java / Maven
# ========================
target/
*.class
*.jar
*.war
*.ear
*.log
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*

# ========================
# Node.js / Vue / Vite
# ========================
node_modules/
dist/
*.local
.env
.env.*.local

# ========================
# IDE
# ========================
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
Desktop.ini

# ========================
# Misc
# ========================
*.bak
*.tmp
*.cache
